/* Custom styles. 王钦弘nb */
/* 文章内链接文本样式 */
.post-body p a,
.post-body li a {
  color: #0593d3;
  border-bottom: none;
  border-bottom: 1px solid #0593d3;

  &:hover {
    color: #fc6423;
    border-bottom: none;
    border-bottom: 1px solid #fc6423;
  }
}

/* 主页文章添加阴影效果 */
.post {
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 25px;
  -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
  -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
}

/* 背景图片透明度 */
.backstretch {
  opacity: .85;
}

/* 页面透明度 */
.content-wrap, .sidebar {
  opacity: .9 ;
}

.header-inner {
  background: rgba(255, 255, 255, 0.9) ;
}

/* 去掉图片边框 */
.posts-expand .post-body img {
  border: none;
  padding: 0;
}

.post-gallery .post-gallery-img img {
  padding: 3;
}

.introduction {
  color: #ff0000;
}

td {
  text-align: center;
  vertical-align: bottom;
}

td, th {
  border: 2px solid white;
  font-size: 18px;
}

th {
  background-color: #337ab7;
  color: white;
}

.code {
  text-align: left;
  font-size: 14px;
}

code {
  color: rgba(213, 0, 252, 0.91);
  background: rgba(78, 240, 233, 0.55);
  margin: 0 4px;
  font-size: .9em;
  border: 1px solid #d6d6d6;
  border-radius: 3px;
  padding: 2px 4px;
  word-wrap: break-word;
}

code, pre {
  font-family: consolas, Menlo, "PingFang SC", "Microsoft YaHei", monospace;
}

.blue-target {
  padding: 3px 5px;
  margin: 0 4px;
  font-size: 16px;
  font-weight: 700;
  color: white;
  background-color: #337ab7;
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0 0 0 1px #5f5a4b, 1px 1px 6px 1px rgba(10, 10, 0, 0.5);
}

.purple-target {
  padding: 3px 5px;
  margin: 0 4px;
  font-size: 16px;
  font-weight: 700;
  color: white;
  background-color: #9954bb;
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0 0 0 1px #5f5a4b, 1px 1px 6px 1px rgba(10, 10, 0, 0.5);
}

.green-target {
  padding: 3px 5px;
  margin: 0 4px;
  font-size: 16px;
  font-weight: 700;
  color: white;
  background-color: #2b6600;
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0 0 0 1px #5f5a4b, 1px 1px 6px 1px rgba(10, 10, 0, 0.5);
}

.red-target {
  padding: 3px 5px;
  margin: 0 4px;
  font-size: 16px;
  font-weight: 700;
  color: white;
  background-color: #ff0000;
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0 0 0 1px #5f5a4b, 1px 1px 6px 1px rgba(10, 10, 0, 0.5);
}

.post-body h1 {
  background: #2C3E50;
  border-radius: 6px 6px 6px 6px;
  border: none;
  box-shadow: 0 0 0 1px #5f5a4b, 1px 1px 6px 1px rgba(10, 10, 0, 0.5);
  color: #fff;
  font-family: "微软雅黑", "宋体", "黑体", Arial;
  font-weight: 700;
  line-height: 1.3;
  margin: 18px 0 18px -10px ;
  padding: 10px;
  text-shadow: 2px 2px 3px #222;
  font-size: 1.6em;
  display: block;
}

.post-body h1 a{
	color: #A0EEE1;    
}

.post-body h2 a{
	color: #A0EEE1;    
}

.post-body h2 {
  background: #2b6695;
  border-radius: 6px 6px 6px 6px;
  border: none;
  box-shadow: 0 0 0 1px #5f5a4b, 1px 1px 6px 1px rgba(10, 10, 0, 0.5);
  color: #fff;
  font-family: "微软雅黑", "宋体", "黑体", Arial;
  font-weight: 700;
  line-height: 1.3;
  margin: 18px 0 18px -10px ;
  padding: 10px;
  text-shadow: 2px 2px 3px #222;
  font-size: 1.45em;
  display: block;
}

.post-body h3 {
  background: #2b6600;
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0 0 0 1px #5f5a4b, 1px 1px 6px 1px rgba(10, 10, 0, 0.5);
  color: #fff;
  font-family: "微软雅黑", "宋体", "黑体", Arial;
  font-size: 1.2em;
  font-weight: 700;
  line-height: 1.5;
  margin: 12px 0 12px -3px ;
  padding: 5px 10px 3px 10px;
  text-shadow: 2px 2px 3px #222;
  border-bottom: 1px solid #eee;
  display: block;
}

.post-body h4 {
  background: rgba(103, 58, 183, 0.72);
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0 0 0 1px #5f5a4b, 1px 1px 6px 1px rgba(10, 10, 0, 0.5);
  color: #fff;
  font-family: "微软雅黑", "宋体", "黑体", Arial;
  font-size: 1em;
  font-weight: 700;
  line-height: 1.5;
  margin: 12px 0 12px -3px ;
  padding: 5px 10px 3px 10px;
  text-shadow: 2px 2px 3px #222;
  border-bottom: 1px solid #eee;
  display: block;
}

.post-body h2 code, .post-body h3 code, .post-body h4 code {
  font-size: inherit;
  color: #f7ab01;
  background: 0 0;
  border: none;
}

.site-title:hover {
  webkit-background-clip: text;
  -webkit-text-fill-color: #000;
  -webkit-text-stroke: 1px #ddd;
}

.site-title {
  display: inline-block;
  vertical-align: top;
  line-height: 36px;
  font-size: 21px;
  font-weight: 700;
  font-family: Lato, "PingFang SC", "Microsoft YaHei", sans-serif;
  text-shadow: 5px 5px 3px rgba(47, 138, 216, 0.47);
  color: #329edc;
}

.note {
  position: relative;
  padding: 15px;
  margin-bottom: 20px;
  border: initial;
  border-left: 3px solid #eee;
  background-color: #f9f9f9;
  border-radius: 3px;
}

.note.info {
  background-color: #eef7fa;
  border-left-color: #428bca;
}

.post-tags {
  margin-top: 0;
}

.post-widgets {
  padding-top: 10px;
  padding-bottom: 25px;
  margin-top: 0;
}